<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/output.css" />
  <title><%= pageTitle %> -LodgeEasy</title>
  <%- include('../partials/headerIcon')%>
</head>

<body>
  <%- include('../partials/nav') %>
    <main class="container mx-auto bg-white shadow-lg rounded-lg p-8 my-12 max-w-4xl ">
      <h2 class="text-3xl text-red-500 font-bold text-center mb-6">
        Details of <%= home.name %>
      </h2>

      <div class="space-y-8">
        <!-- Image -->
        <div class="rounded-lg overflow-hidden">
          <img src="<%= home.imageURL %>" alt="<%= home.name %>" class="w-full h-96  object-cover">
        </div>
          <div>
        
        <p class="text-lg font-semibold text-gray-600 mb-2"><%= home.description %></p>
          </div>

        <!-- Details Grid -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6  mt-10">
          
          
          <div>
        <h3 class="text-lg font-semibold text-gray-800 mb-2">Facilities</h3>
        <p class="text-gray-600"><%= home.amenities %></p>
          </div>

          <div>
        <h3 class="text-lg font-semibold text-gray-800 mb-2">Location</h3>
        <p class="text-gray-600"><%= home.city %></p>
          </div>

          <div>
        <h3 class="text-lg font-semibold text-gray-800 mb-2">Home Type</h3>
        <p class="text-gray-600"><%= home.homeType %></p>
          </div>


          <div>
        <h3 class="text-lg font-semibold text-gray-800 mb-2">Max Guests</h3>
        <p class="text-gray-600"><%= home.maxGuests %></p>
          </div>

          
        </div>

        <div>
        <h3 class="text-lg font-semibold text-gray-800 mb-2">Price</h3>
        <p class="text-green-600 text-2xl font-bold">₹<%= home.price %></p>
          </div>

          <a href="/bookings/<%= home._id %>"
                    class=" w-1/3 mt-auto bg-indigo-600 hover:bg-indigo-700  text-center text-white p-2 rounded-lg font-semibold">Book
                    Now</a>
      </div>
    </main>
    <%- include('../partials/footer')%>
</body>

</html>
